.users-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

.users-table th, td {
    text-align: left;
    padding: 8px;
}

.users-table tr:nth-child(even){background-color: #f2f2f2}

.user-info{
	display: inline-block;
	margin: auto;
}

.user-data{
	text-align: center;
}