.images {
}
.imageBox {
	display: inline-block;
	padding: 10px;
	max-height: 400px;
	max-width: 400px;
	overflow: hidden;
}
.imageUpload{
	display: inline-block;
}
.imageUpload .details{
	text-align: left;
}
.imageUpload h1 {
	padding: 20px !important;
}