.images {
}

.imageBox {
	display: inline-block;
	padding: 5px;
	max-height: 400px;
	max-width: 400px;
	overflow: hidden;
}
.galNav {
	background-color: white;
}
.subMenu {
	padding-top: 0px !important;
}
.imageUpload{
	display: inline-block;
}
.imageUpload .details{
	text-align: left;
}
.imageUpload form {
	border: 1px solid;
	padding: 20px;
}

.imageUpload h1 {
	padding: 20px !important;
}