.lightBlack{
    background-color: #363636 !important;
}
.navColor {
    background-color: #00AABB !important;
}

.textColorScheme {
    color: #00AABB;
}

.showDisplay {
    display: block!important;
}

.removeMargin {
    margin: 0!important;
}

.maindiv {
    min-height: 90%;
    position: relative;
}

.maindiv:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../../components/site layout/images/oneilFactory.png') no-repeat center bottom;
    opacity: 0.9;
}

.mainpage{
    position: relative;
}
#root {
    height: 100%;
}

.fullHeight {
    height: 100%;
}

.textFormat {
    font-weight: 600;
    color: #666;
    font-family: 'Muli', sans-serif;
}
.centerVideo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
.centerButton {
    display: flex!important;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20px!important;
}
.buttonLink {
    background:none!important;
    border:none;
    padding:0!important;

    font-family:arial,sans-serif;
    color:#069;
    cursor:pointer;
}
.buttonLink:hover{
    text-decoration:underline;
}

.teamspeakList {
    /*width: 20% !important;*/
    display: inline-block !important;;
    text-align: left !important;;
    background: #FFFFFF !important;;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;;
    height: 50% !important;;
    max-height: 50% !important;;
    overflow: auto !important;;
    margin: 20px !important;;
}
.teamspeakList h2 {
    text-align: center;
}
.user{
    padding-left: 30px;
}
.subChannel{
    padding-left: 20px;
}
.channel {

}

.channel p, .subChannel p, .user p {
    margin: 5px;
}
.channel img, .subChannel img, .user img {
    vertical-align: middle;
}