@import '~antd/dist/antd.css';

body {
    background-color: #f0f3f6;
}

.centerContent {
    margin: auto;
    display: block;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after
{
    border-top: 1px solid white;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}
.dashboard {
    margin-top: -50px;
    /*height: 100vh;*/
}
.bottomFooter {
    position: fixed!important;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.centerText {
    text-align: center;
}
.right {
    float: right;
    margin-left: auto;
    overflow: hidden;
}
.leftMenu {
    float: left;
}
.rightMenu {
    float: right;
}

.avatar {
    margin-right: 8px;
    /*background: rgba(255, 255, 255, 0.85);*/
}
.userDropdown {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
}
.userDropdown:hover {
    background: rgba(0,0,0,.025);
}
.login {
    width: 20%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.appName {
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    padding: 20px;
}
@media only screen and (max-width: 800px) {
    .username {
        display: none;
    }
    .right {
        position: absolute;
        top: 0;
        right: 12px;
    }
    .right .account .avatar {
        margin-right: 0;
    }
    .leftMenu,.rightMenu{
        display: none;
    }
    .responsiveMenuButton {
        display: inline-block!important;
    }
}
.whiteBackground {
    background: #fff;
    overflow: hidden;
}

.lightBlack{
    background-color: #363636 !important;
}
.navColor {
    background-color: #FFFFFF !important;
}

.textColorScheme {
    color: #2c2f3e;
}

.removeMargin {
    margin: 0!important;
}

.mainpage {
    padding-top: 50px;
    margin-bottom: 70px;
    min-height: 96%;
    height: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: rgb(61, 76, 104);
}

#root {
    height: 100%;
    background: rgb(61, 76, 104);
}
.blueBackgroundColor {
    background: rgb(61, 76, 104);
}

.textFormat {
    font-weight: 600;
    color: #666;
    font-family: 'Muli', sans-serif;
}
.centerButton {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.marginPadding {
    margin: 1rem 0;
}
.bottomMargin {
    margin-bottom: 1em!important;
}
.removeMargin {
    margin: 0!important;
}

.removePadding {
    padding: 0!important;
}

.removeTopPadding {
    padding-top: 0!important;
}
.navTextColor {
    color: rgba(255,255,255,.9)!important;
}

.dashboardHeader {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(238, 238, 238);
    background-color: rgb(35, 47, 62);
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 56px;
    padding: 20px;
}

.preventTextOverflow {
    overflow-wrap: break-word;
}
.whiteText {
    color: #FFFFFF!important;
}
.logoText {
    color: #f92214;
    white-space: nowrap;
}
.logo {
    float: left;
    width: 210px;
}
.headerMenu {
    width: calc(100% - 200px);
    float: left;
}
.login-form {
    padding-top: 5%;
}
.form-button {
    width: 100%;
    background-color: #f1574d;
    border-color: #f1574d;
    color: white;
}
.form-button:hover {
    background-color: #f76057;
    border-color: #f76057;
    color: white;
}
.inputField {
    margin-bottom: 24px;
}
.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.fixGap:first-child {
    padding-left: 0 !important;
}

.fixGap:last-child {
    padding-right: 0 !important;
}
.responsiveMenuButton {
    float: right;
    margin-top: 15px;
    display: none;
}
.pointerCursor {
    cursor: pointer;
}
.ant-drawer-body{
    padding: 0;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
    display: inline-block;
    width: 100%;
}
.ant-drawer-body .ant-menu-horizontal{
    border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
    border-bottom-color: transparent;
}

.ant-menu-horizontal > .ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-item a:hover {
    color: #f1574d;
}
.ant-tabs-tab-btn {
    color: white;
}
.imageResponse {
    max-width: 100%;
    height: auto;
}