@import '~antd/dist/antd.css';

body {
    background-color: #84beb4;
}

.centerContent {
    margin: auto;
    display: block;
}

.centerFlexContent {
    display: flex;
    justify-content: center;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-center::after {
    border-top: 2px solid white;
}

.ant-divider {
    border-top: 2px solid white;
}

.bottomFooter {
    position: fixed!important;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
}

.centerText {
    text-align: center;
}

.right {
    float: right;
    margin-left: auto;
    overflow: hidden;
}

.leftMenu {
    float: left;
}

.rightMenu {
    float: right;
}

.avatar {
    margin-right: 8px;
    /*background: rgba(255, 255, 255, 0.85);*/
}

.userDropdown {
    display: inline-block;
    height: 100%;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s;
}

.userDropdown:hover {
    background: rgba(0,0,0,.025);
}

.login {
    width: 20%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

.appName {
    color: rgba(255, 255, 255, 0.65);
    text-align: center;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .username {
        display: none;
    }
    .right {
        position: absolute;
        top: 0;
        right: 12px;
    }
    .right .account .avatar {
        margin-right: 0;
    }
    .leftMenu,.rightMenu{
        display: none;
    }
    .responsiveMenuButton {
        display: inline-block!important;
    }
}

.whiteBackground {
    background: #36393f;
    overflow: hidden;
}

.lightBlack{
    background-color: #363636 !important;
}

.navColor {
    background-color: #FFFFFF !important;
}

.textColorScheme {
    color: #2c2f3e;
}

.removeMargin {
    margin: 0!important;
}

.mainpage {
    padding-top: 50px;
    margin-bottom: 70px;
    min-height: 96%;
    height: auto;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    background: rgb(61, 76, 104);
}

#root {
    height: 100%;
    background: rgb(61, 76, 104);
}

.mainBackgroundColor {
    background: #84beb4;
}

.textFormat {
    font-weight: 600;
    color: #666;
    font-family: 'Muli', sans-serif;
}

.centerButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.marginPadding {
    margin: 1rem 0;
}

.bottomMargin {
    margin-bottom: 1em!important;
}

.removeMargin {
    margin: 0!important;
}

.removePadding {
    padding: 0!important;
}

.removeTopPadding {
    padding-top: 0!important;
}

.navTextColor {
    color: rgba(255,255,255,.9)!important;
}

.dashboardHeader {
    font-size: 1.125rem;
    font-weight: 600;
    color: rgb(238, 238, 238);
    background-color: rgb(35, 47, 62);
    font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    min-height: 56px;
    padding: 20px;
}

.preventTextOverflow {
    overflow-wrap: break-word;
    word-break: break-word;
}

.whiteText, .whiteText h1, .whiteText h2, .whiteText h3 {
    color: #FFFFFF!important;
}

.logoText {
    color: #f92214;
    white-space: nowrap;
}

.logo {
    float: left;
    width: 270px;
}

.headerMenu {
    width: calc(100% - 200px);
    float: left;
}

.login-form {
    padding-top: 5%;
}

.fullWidth {
    width: 100%;
}

.inputField {
    margin-bottom: 24px;
}

.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.fixGap:first-child {
    padding-left: 0 !important;
}

.fixGap:last-child {
    padding-right: 0 !important;
}

.responsiveMenuButton {
    float: right;
    margin-top: 15px;
    display: none;
}

.pointerCursor {
    cursor: pointer;
}

.ant-drawer-body{
    padding: 0;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item, .ant-drawer-body .ant-menu-horizontal > .ant-menu-submenu{
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal{
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
    border-bottom-color: transparent;
}

.ant-menu-horizontal  {
    background: #36393f;
    border-bottom: 0;
    font-size: 20px;
    color: white;
}
.ant-menu-item {
    border-bottom: 0!important;
}

.ant-menu-horizontal > .ant-menu-item a {
    color: white;
}

.ant-menu-horizontal > .ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-item a:hover {
    color: #58a0aa;
}

.extraPadding {
    padding: 24px;
}

.imageResponse {
    max-width: 100%;
    height: auto;
}

.headerLogo {
    height: auto;
    padding: 10px 10px 10px 25px;
}

.bigText {
    font-size: 3.5em;
}

.midText {
    font-size: 2.5em;
}

.smallDivider {
    min-width: 30%;
    width: 30%;
    margin: auto;
    color: white;
}

.topPadding {
    padding-top: 2%;
}

.formatInfo {
    font-size: 1.5em;
}

.roundedBorder > .ant-card-body {
    padding: 0
}

.roundedBorder, .mediaComment .ant-comment-content-detail {
    border-radius: 15px;
    border: 0;
}

.darkGreyBackground {
    background: #49494b;
}

.roundedBorder img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.fullRoundedBorder img {
    border-radius: 15px;
}

.roundedBorder .ant-card-meta-title, .roundedBorder .ant-card-meta-description {
    color: white;
}

.descriptionText {
    font-size: 1.2em;
}

.roundedBorder .ant-card-meta-detail {
    padding-bottom: 5px;
}

.mediaTab .ant-tabs-nav::before {
    border: 0;
}

.mediaTab .ant-tabs-nav-list {
    margin: auto;
}

.mediaTab .ant-tabs-tab {
    border-radius: 15px!important;
    border: 0!important;
    background: #97c7bf!important;
    margin-right: 16px!important;
}

.uploadButton {
    background: #97c7bf;
}

.ant-btn:hover .uploadButton, .ant-btn:focus .uploadButton, .ant-btn:active .uploadButton {
    color: white!important;
}

.mediaTab .ant-tabs-tab-btn, .uploadButton {
    color: white;
    border-radius: 15px!important;
    border: 0!important;
}

.mediaTab .ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #36393f!important;
}

.mediaTab .ant-tabs-extra-content {
    width: 10%;
}

.mediaTab .ant-tabs-nav-list {
    margin: auto;
    position:relative;
    left: -5.5%;
}

.dashboard .ant-tabs-nav-list {
    left: 0;
}

.mediaModal {
    background: none;
    box-shadow: none;
}

.mediaDescription {
    border-radius: 15px;
    text-align: center;
}

.mediaDescription h1 {
    margin-bottom: 0;
}

.whiteColor {
    color: white;
}

.mediaComment .ant-comment-inner {
    background: #d4d7db;
    margin: 16px 0;
    padding: 0;
}

.mediaComment .ant-comment-content-detail {
    background: white;
    margin: 4%;
    padding: 2%;
}

.mediaComment .ant-comment-content-author, .mediaComment .ant-comment-avatar {
    padding-top: 1%;
    margin-left: 1%;
}

.darkTextColor,.ant-comment-content-author-name > *:hover {
    color: #36393f;
}

.mediaComment .ant-comment-avatar img {
    width: 100%;
    height: 100%;
}

.commentFormat {
    font-weight: 500;
    font-size: 1.1em;
}

.mediaComment .ant-comment-avatar {
    cursor: default;
}

.commentReplyBox {
    padding: 10px;
    background: #d4d7db;
}

.addCommentButton {
    float: right;
    margin-top: 3%;
}

.commentReplyBox .ant-form-item {
    margin-bottom: 0;
}

.commentReplyBox .ant-comment-inner {
    padding-bottom: 0;
}

.formattedBackground {
    background-color: #54a7b2;
    border: none;
}

.formattedBackground:hover, .formattedBackground:active, .formattedBackground:focus {
    background-color: #61aeb8;
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton img {
    width: 100%;
    height: 100%;
}

.videoMedia, .mediaModalContent {
    position: relative;
}

.shareMediaButton {
    position: absolute;
    bottom: 1%;
    right: 1%;
    transform: translate(-50%, -50%);
}

.deleteMediaButton {
    position: absolute;
    bottom: 1%;
    right: 7%;
    transform: translate(-50%, -50%);
}